body {
  background-color: white; /* Fehér háttér */
}
header {
  background-color: white;
  color: #007bff;
}
footer {
  background-color: white;
  color: #007bff;
}
h1, h2 {
  color: #007bff;
}
table {
  border: 1px solid #007bff;
}
.header-img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}